/**
* footer commom
**/
footer {
  text-align: center;
}
/**
* footer logo
**/
.foorter__logo {
  background-color: #ffffff;
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin: 20px 0;
  padding: 0 0 20px;
}
.foorter__logo .c-logo-image {
  -webkit-mix-blend-mode: exclusion;
          mix-blend-mode: exclusion;
  height: 27px;
}
/**
* footer snslink
**/
footer .c-snslink {
  justify-content: center;
}
/**
* footer privacy policy
**/
.footer--link__privacy {
  margin: 20px 0;
  font-size: 1rem;
}
.footer--link__privacy a {
  color: #000000;
  font-weight: bold;
}
/**
* footer copyrights
**/
.footer__copyrights {
  margin: 0 0 20px;
  font-size: .8rem;
}
@media (min-width: 991px) {
  /**
  * footer logo
  **/
  .foorter__logo {
    margin: 50px 0;
    padding: 0 0 50px;
  }
  .foorter__logo .c-logo-image {
    height: 45px;
  }
  /**
  * footer privacy policy
  **/
  .footer--link__privacy {
    margin: 50px 0;
    font-size: 1rem;
  }
  /**
  * footer copyrights
  **/
  .footer__copyrights {
    margin: 0 0 50px;
    font-size: 1rem;
  }
}