/**
* footer commom
**/
footer {
    text-align: center;
}
/**
* footer logo
**/
.foorter__logo {
    background-color: white;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
    padding: 0 0 20px;
}
.foorter__logo img {
    -webkit-mix-blend-mode: exclusion;
        -ms-mix-blend-mode: exclusion;
            mix-blend-mode: exclusion;
    height: 27px;
}
/**
* footer snslink
**/
footer .c-snslink {
    justify-content: center;
}
/**
* footer privacy policy
**/
.footer--link__privacy {
    margin: 20px 0;
    font-size: 1.2rem;
}
.footer--link__privacy a {
    color: black;
    font-weight: bold;
}
/**
* footer copyrights
**/
.footer__copyrights {
    margin: 0 0 20px;
}
@media (min-width: 991px) {
    /**
    * footer logo
    **/
    .foorter__logo {
        margin: 50px 0;
        padding: 0 0 50px;
    }
    .foorter__logo img {
        height: 45px;
    }
    /**
    * footer privacy policy
    **/
    .footer--link__privacy {
        margin: 50px 0;
    }
    /**
    * footer copyrights
    **/
    .footer__copyrights {
        margin: 0 0 50px;
        font-size: 1.2rem;
    }
}