/**
* header content
**/ 
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    height: 45px;
    width: 100%;
    background-color: transparent;
    -webkit-transition: background .3s ease-out;
            transition: background .3s ease-out;
}
header.active {
    height: 100vh;
}
header.active:after {
    content: '';
    width: 100%;
    height: 100vh;
    background: black;
    display: block;
    opacity: .7;
}
/**
* header logo
**/
header.light {
    background-color: white;
    -webkit-transition: background .3s ease-out;
            transition: background .3s ease-out;
}
header img[alt="uemu-portfolio"] {
    position: absolute;
    top: 24px;
    left: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    height: 27px;
    -webkit-mix-blend-mode: exclusion;
            mix-blend-mode: exclusion;
    -webkit-transition: mix-blend-mode .3s ease-out;
            transition: mix-blend-mode .3s ease-out;
}

header.light img[alt="uemu-portfolio"] {
    -webkit-mix-blend-mode: exclusion;
            mix-blend-mode: exclusion;
    -webkit-transition: mix-blend-mode .3s ease-out;
            transition: mix-blend-mode .3s ease-out;
}
/**
* header menu
**/
header .header--menu__content {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    max-height: none;
    overflow: scroll;
    width: 100%;
    height: 100%;
}
header .header--menu__content nav {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
header .header--menu__content nav ul li {
    margin: 0 0 10px;
    text-align: center;    
}
header .header--menu__content nav ul li a {
    font-size: 2.4em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header .header--menu__content.isOpen {
    pointer-events: auto;
    opacity: 1;
}
header .header--menu__content.isOpen nav {
    z-index: 100;
}
header .header--menu__content .overlay {
    background: transparent;
    opacity: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border: none;
    pointer-events: none;
    -webkit-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
}
header .header--menu__content.isOpen .overlay {
    background: black;
    opacity: .8;
    pointer-events: auto;
    z-index: 10;
    -webkit-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
}

/**
* header snslink
**/
header .c-snslink {
    position: absolute;
    top: 24px;
    right: calc( 5% + 35px );
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
}

/**
* memu btn
**/
header .header--menu__btn {
    position: absolute;
    top: 25px;
    right: 5%;
    width: 25px;
    height: 25px;
    border: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); 
    cursor: pointer;
    z-index: 10;
    background: transparent;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out;
}
header .header--menu__btn span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out;
}
header .header--menu__btn span:nth-of-type( 1 ) {
    top: 0px;
}
header .header--menu__btn span:nth-of-type( 2 ) {
    top: 10px;
}
header .header--menu__btn span:nth-of-type( 3 ) {
    top: 20px;
}
header .header--menu__btn.isOpen span:nth-of-type( 1 )  {
    top: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
}
header .header--menu__btn.isOpen span:nth-of-type( 2 )  {
    opacity: 0;
}
header .header--menu__btn.isOpen span:nth-of-type( 3 )  {
    top: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
}
header.light .header--menu__btn span {
    background-color: #737373;
    -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out;
}

@media (min-width: 991px) {
    /**
    * header content
    **/ 
    header {
        height: 80px;
        width: 100%;
    }
    /**
    * header logo
    **/
    header img[alt="uemu-portfolio"] {
        height: 45px;
        top: 40px;    
    }
    /**
    * header menu
    **/
    header .header--menu__content nav ul li {
        margin: 0 0 30px;
    }
    /**
    * memu btn
    **/
    header .header--menu__btn {
        top: 40px;
        right: 5%;
        width: 32px;
        height: 25px;
    }
    header .header--menu__btn span:nth-of-type( 1 ) {
        top: 0px;
    }
    header .header--menu__btn span:nth-of-type( 2 ) {
        top: 12px;
    }
    header .header--menu__btn span:nth-of-type( 3 ) {
        top: 24px;
    }
    /**
    * header snslink
    **/
    header .c-snslink {
        top: 40px;
        right: 8%;
    }
}