/*********************************
* detail.css
*********************************/

/**
* inner
*/
.p-detail__inner p,
.p-detail__inner div {
    color: white;
}
.p-detail__inner .p-detail__top {
    margin: 0 0 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.p-detail__inner .p-detail__top > * {
    width: 50%;
}
.p-detail__inner .p-detail__bottom {
    margin: 0 0 25px;
}

.p-detail__inner .card li span {
    color: white;
    opacity: 1;
}
@media (min-width: 991px) {
    .p-detail__inner .p-detail__top {
        margin: 0 0 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .p-detail__inner .p-detail__bottom {
        margin: 0 0 50px;
    } 
}