/**
* content
**/
#p-mainvisual {
    padding: 0;
    width: 100%;
    position: relative;
    height: 100vh;
}
/**
* banner
**/
#p-mainvisual figure {
    overflow: hidden;
    /*opacity: 0;
    transition: ease .3s opacity;*/
}
#p-mainvisual figure iframe {
    width: 120%;
    height: 100vh;
    opacity: .7;
    background-color: black;
    margin: 0% 0 0 -10%;
}

/*
#p-mainvisual figure.is_display {
    opacity: 1;
    transition: ease .3s opacity;
}
*/
#p-mainvisual figure:before {
    content: '';
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50%;
    animation: blink .5s ease-in-out infinite alternate;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    position: absolute;
}
#p-mainvisual figure:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
    z-index: 1000;
    opacity: 0.5;
}
#p-mainvisual figure.is_display:after {
    z-index: -1;
}
#p-mainvisual figure.is_display:before {
    background-image: none;
    animation: none;
    z-index: 1;    
}
#p-mainvisual .WrapCanvas:after {
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .7;
}
#p-mainvisual .WrapCanvas .Canvas,
#p-mainvisual .WrapCanvas .lazyload {
    width: 100% !important;
}
#p-mainvisual .WrapCanvas .lazyload {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
7
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

/**
* nav
**/
#p-mainvisual nav {
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 1;
    -webkit-transform: translateY( -50% );
            transform: translateY( -50% );
}
#p-mainvisual nav ul li {
    margin: 0 0 15px;
    text-align: center;
}
#p-mainvisual nav ul li:last-child {
    margin: 0;
}
#p-mainvisual nav ul li a {
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat';
    cursor: pointer;
}
/**
* logo
**/
#p-mainvisual img[alt*='uemu-portfolio'] {
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translateX( -50% ) translateY( -50% );
            transform: translateX( -50% ) translateY( -50% );
    z-index: 1;
    height: 25px;
}
/**
* click here
**/
#p-mainvisual .p-mainvisual__click {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate( -50% );
            transform: translate( -50% );
    z-index: 1;
    font-size: 1.6em;
    cursor: pointer;
}
#p-mainvisual .p-mainvisual__click a {
    color: white;
    text-decoration: none;
    display: block;
}
#p-mainvisual .p-mainvisual__click span {
    position: relative;
    content: '';
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate( -135deg );
            transform: rotate( -135deg );
    top: 0;
    left: calc( 50% - 10px );
    display: block;
    margin: 0 0 20px;
}
@media (max-width: 767px) {
    #p-mainvisual figure {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    #p-mainvisual figure img, 
    #p-mainvisual figure iframe {
        width: 400%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}
@media (min-width: 991px) {
    /**
    * content
    **/
    #p-mainvisual {
        height: auto;
    }
    /**
    * banner
    **/
    #p-mainvisual .MainBnr,
    #p-mainvisual .MainBnr ul {
        height: auto;
        position: static;
    }
    #p-mainvisual .MainBnr ul{
        height: auto;
        position: static;
        width: 100%;
        min-width: 100%;
        min-height: 100vh;
        left: 0;
        top: 0;
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    /**
    * nav
    **/
    #p-mainvisual nav ul li {
        margin: 0 0 30px;
    }
    #p-mainvisual nav ul li a {
        font-size: 2.4em;
    }
    /**
    * logo
    **/
    #p-mainvisual img[alt*='uemu-portfolio'] {
        height: auto;
        left: 25%;
    }
    /**
    * click here
    **/
    #p-mainvisual .p-mainvisual__click span {
        width: 25px;
        height: 25px;
        left: calc(50% - 15px);
        height: 25px;
    }
}