/**
* content
**/
#p-mainvisual {
  padding: 0;
  width: 100%;
  position: relative;
  padding-top: 51%;
  overflow: hidden;
}

/**
* banner
**/
#p-mainvisual figure {
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding: 51% 0 0;
  top: 0;
  left: 0;
}
#p-mainvisual figure iframe {
  width: 100%;
  opacity: 1;
  background-color: black;
  height: 100vh;
  position: absolute;
  top: -11%;
}
#p-mainvisual figure:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  opacity: 0;
}
/**
* select
**/
.p-select-box {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.p-select-box .p-select-box-label {
  min-width: calc(100% / 4);
  animation: pc-slide 15s linear infinite;
  overflow: hidden;
}
.p-select-box .p-select-box-label .p-select-box-input {
  display: none;
}
.p-select-box .p-select-box-label .p-select-box-img {
  width: 100%;
  transition: all ease .5s;
}
.p-select-box .p-select-box-label .p-select-box-input:checked .p-select-box-img,
.p-select-box .p-select-box-label .p-select-box-img:hover {
  opacity: .7;
  transition: all ease .5s;
}
.p-select-box .p-select-box-label .p-select-box-img:hover {
  transform: scale(1.2);
}
@keyframes pc-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400%);
  }
}
/**
* nav
**/
#p-mainvisual nav {
  position: absolute;
  top: 50%;
  right: 15%;
  z-index: 1;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
}
#p-mainvisual nav ul li {
  margin: 0 0 10px;
  text-align: center;
}
#p-mainvisual nav ul li:last-child {
  margin: 0;
}
#p-mainvisual nav ul li a {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
/**
* logo
**/
#p-mainvisual img[alt*='uemu-portfolio'] {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
  z-index: 1;
  height: 25px;
}
/**
* click here
**/
#p-mainvisual .p-mainvisual__click {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate( -50% );
          transform: translate( -50% );
  z-index: 1;
  font-size: 1.0rem;
  cursor: pointer;
}
#p-mainvisual .p-mainvisual__click a {
  color: white;
  text-decoration: none;
  display: block;
}
#p-mainvisual .p-mainvisual__click span {
  position: relative;
  content: '';
  border-top: 1px solid white;
  border-left: 1px solid white;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate( -135deg );
          transform: rotate( -135deg );
  top: 0;
  left: calc( 50% - 10px );
  display: block;
  margin: 0 0 20px;
}
#p-mainvisual .p-mainvisual__iframe.is_loading ~ .p-loading {
  content: '';
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
}
.p-loading {
  display: none;
}
.p-loading .circle-border {
  width: 80px;
  height: 80px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(0,0,0,0.1) 33%, rgba(255,255,255,1) 100%);
  animation: spin .8s linear 0s infinite;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  position: absolute;
}
.p-loading .circle-core {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 50%;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}
@media (min-width: 768px) {
  /**
  * mainvisual
  **/
  .p-mainvisual-inner {
    position: absolute;
    top: 0;
    padding: 51% 0 0;
    width: 100%;
  }
  #p-mainvisual .p-mainvisual__iframe.is_loading ~ .p-loading {
    height: auto;
    padding: 51% 0 0;
  }
  .p-loading .circle-border {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}
@media (max-width: 767px) {
  /**
  * mainvisual
  **/
  #p-mainvisual {
    padding-top: 0;
  }
  #p-mainvisual nav {
    top: 50%;
    right: 50%;
    -webkit-transform: translateY( -50% ) translateX( 50% );
            transform: translateY( -50% ) translateX( 50% );
  }
  #p-mainvisual figure {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
  }
  #p-mainvisual figure img, 
  #p-mainvisual figure iframe {
    width: 350%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #p-mainvisual .p-mainvisual__click a {
    font-size: .5rem;
  }
  .p-select-box .p-select-box-label {
    min-width: -webkit-calc(100% / 3);
    min-width: calc(100% / 3);
    -webkit-animation: smp-slide 15s linear infinite;
    animation: smp-slide 15s linear infinite;
    cursor: pointer;
  }
  @keyframes smp-slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
}
@media (max-width: 990px) {
  /**
  * mainvisual
  **/
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: 50px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.2rem;
  }
}

@media (min-width: 991px) {
  /**
  * content
  **/
  #p-mainvisual {
    height: auto;
  }
  /**
  * banner
  **/
  #p-mainvisual .MainBnr,
  #p-mainvisual .MainBnr ul {
    height: auto;
    position: static;
  }
  #p-mainvisual .MainBnr ul{
    height: auto;
    position: static;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  /**
  * nav
  **/
  #p-mainvisual nav ul li {
    margin: 0 0 10px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.4rem;
  }
  /**
  * logo
  **/
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: auto;
    left: 15%;
    height: 75px;
  }
  /**
  * click here
  **/
  #p-mainvisual .p-mainvisual__click span {
    width: 25px;
    height: 25px;
    left: calc(50% - 15px);
    height: 25px;
  }
}

@media (min-width: 1200px) {
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: 100px;
  }
  #p-mainvisual nav ul li {
    margin: 0 0 20px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.6rem;
  }
}