/**
* content
**/
#p-mainvisual {
  padding: 0;
  width: 100%;
  position: relative;
  padding-top: 51%;
  overflow: hidden;
}

/**
* banner
**/
#p-mainvisual figure {
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
}
#p-mainvisual figure iframe {
  width: 120%;
  height: 100vh;
  opacity: 1;
  background-color: black;
  margin: 0% 0 0 -10%;
}
#p-mainvisual figure:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  opacity: 0;
}
/**
* select
**/
.p-select-box {
  position: absolute;
  top: 20px;
  right: calc(8% + 205px);
}
.p-select-box select {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.918 6.538L3.938 6.552L0.647999 1.092L1.474 0.559998L4.428 5.446L7.34 0.559998L8.18 1.078L4.918 6.538Z' fill='black'/%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat !important;
  background-size: 8px 14px;
  background-position: right 12px top 50% !important;
  padding: 5px 30px 5px 10px;
  appearance: none;
}
/**
* nav
**/
#p-mainvisual nav {
  position: absolute;
  top: 50%;
  right: 15%;
  z-index: 1;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
}
#p-mainvisual nav ul li {
  margin: 0 0 10px;
  text-align: center;
}
#p-mainvisual nav ul li:last-child {
  margin: 0;
}
#p-mainvisual nav ul li a {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
/**
* logo
**/
#p-mainvisual img[alt*='uemu-portfolio'] {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
  z-index: 1;
  height: 25px;
}
/**
* click here
**/
#p-mainvisual .p-mainvisual__click {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate( -50% );
          transform: translate( -50% );
  z-index: 1;
  font-size: 1.0rem;
  cursor: pointer;
}
#p-mainvisual .p-mainvisual__click a {
  color: white;
  text-decoration: none;
  display: block;
}
#p-mainvisual .p-mainvisual__click span {
  position: relative;
  content: '';
  border-top: 1px solid white;
  border-left: 1px solid white;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate( -135deg );
          transform: rotate( -135deg );
  top: 0;
  left: calc( 50% - 10px );
  display: block;
  margin: 0 0 20px;
}
#p-mainvisual .p-mainvisual__iframe.is_loading:before {
  content: '';
  background-color: black;
  z-index: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/images/logo.png);
  background-size: 123px 45px;
  animation: fadeouts 1s linear infinite;
}
@keyframes fadeouts {
  0% { background-image: url(/images/logo.png); }
  50% { background-image: none; }
  100% { background-image: url(/images/logo.png); }
}
@media (max-width: 767px) {
  /**
  * select
  **/
  .p-select-box {
    display: none;
  }
  #p-mainvisual {
    padding-top: 0;
  }
  #p-mainvisual nav {
    top: 50%;
    right: 50%;
    -webkit-transform: translateY( -50% ) translateX( 50% );
            transform: translateY( -50% ) translateX( 50% );
  }
  #p-mainvisual figure {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #p-mainvisual figure img, 
  #p-mainvisual figure iframe {
    width: 350%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #p-mainvisual .p-mainvisual__click a {
    font-size: .5rem;
  }
}
@media (max-width: 990px) {
  /**
  * select
  **/
  .p-select-box {
    top: 10px;
    right: calc(8% + 135px);
  }
  .p-select-box select {
    padding: 3px 30px 3px 10px;
    font-size: 0.8rem;
  }
  /**
  * mainvisual
  **/
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: 50px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.2rem;
  }
}

@media (min-width: 991px) {
  /**
  * content
  **/
  #p-mainvisual {
    height: auto;
  }
  /**
  * banner
  **/
  #p-mainvisual .MainBnr,
  #p-mainvisual .MainBnr ul {
    height: auto;
    position: static;
  }
  #p-mainvisual .MainBnr ul{
    height: auto;
    position: static;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  /**
  * nav
  **/
  #p-mainvisual nav ul li {
    margin: 0 0 10px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.4rem;
  }
  /**
  * logo
  **/
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: auto;
    left: 15%;
    height: 75px;
  }
  /**
  * click here
  **/
  #p-mainvisual .p-mainvisual__click span {
    width: 25px;
    height: 25px;
    left: calc(50% - 15px);
    height: 25px;
  }
}

@media (min-width: 1200px) {
  #p-mainvisual img[alt*='uemu-portfolio'] {
    height: 100px;
  }
  #p-mainvisual nav ul li {
    margin: 0 0 20px;
  }
  #p-mainvisual nav ul li a {
    font-size: 1.6rem;
  }
}