/**
* questionnaire
**/
#p-questionnaire .c-questionnaire_form__inner {
  width: 100%;
  margin: 0 auto;
}
#p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__txt {
  text-align: center;
  margin: 20px 0;
  font-size: 0.8rem;
}
#p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__txt a {
  text-decoration: underline;
}
#p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__txt a:hover,
#p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__txt a:focus {
  text-decoration: none;
}
#p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__content {
  margin: 0 0 20px;
}
#p-questionnaire .c-questionnaire_form__inner label {
  display: block;
  margin: 5px 0;
  font-size: 0.8rem;
  color: white;
}
#p-questionnaire .c-questionnaire_form__inner input,
#p-questionnaire .c-questionnaire_form__inner textarea {
  font-size: 0.8rem;
}

/**
* questionnaire confirm
**/
#p-questionnaire .c-questionnaire__conform {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 20px;
    width: 90%;
    height: auto;
    overflow-y: scroll;
    z-index: 1000;
    border: .5rem solid #EEEEEE !important;
}
#p-questionnaire .c-questionnaire__conform button {
    position: absolute;
    top: 25px;
    width: auto;
    right: 15px;
    font-size: 0;
}
#p-questionnaire .c-questionnaire__conform button:before,
#p-questionnaire .c-questionnaire__conform button:after {
    content: '';
    border: 1px solid lightgray;
    width: 30px;
    display: block;
    position: absolute;
}
#p-questionnaire .c-questionnaire__conform button:before {
    transform: rotate(45deg);
    top: 10px;
    right: 0px;
}
#p-questionnaire .c-questionnaire__conform button:after {
    transform: rotate(-45deg);    
    top: 10px;
    right: 0px;
}
#p-questionnaire .questionnaire__form__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    opacity: .7;
}
#p-questionnaire .c-questionnaire__conform .questionnaire__confirm-txt {
    line-height: 1.4rem;
    margin: 50px 0 0;
    font-size: 0.8rem;
    text-align: center;
}
#p-questionnaire .c-questionnaire__conform table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin: 20px 0 0;
}
#p-questionnaire .c-questionnaire__conform table tr th {
    background-color: #efefef; 
}
#p-questionnaire .c-questionnaire__conform table tr th,
#p-questionnaire .c-questionnaire__conform table tr td {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-size: .8rem;
    font-weight: normal;
}
#p-questionnaire .c-questionnaire__conform table tr th {
    width: 30%;
}
#p-questionnaire .c-questionnaire__conform table tr td {
    width: 70%;
}
#p-questionnaire .c-questionnaire__conform .c-btn-area {
    margin: 30px 0 20px;
}
#p-questionnaire .c-questionnaire__conform .c-btn-area button.form-submit {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    font-size: .8rem;
    padding: 10px 0;
    border: 1px solid black;
    background-color: black;
    color: white;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    box-shadow: 0 0 0 0 transparent;
    height: 40px;
    line-height: 1;
}
#p-questionnaire .c-questionnaire__conform .c-btn-area button.form-submit:before,
#p-questionnaire .c-questionnaire__conform .c-btn-area button.form-submit:after {
    content: none;
}

/**
* questionnaire complete
**/
#p-questionnaire .c-questionnaire__complete {
    border: none;
    text-align: center;
    margin: 0;
}

@media (min-width: 991px) {
    /**
    * questionnaire
    **/
    #p-questionnaire .c-title {
        width: 60%;
        margin: 0 auto 2rem;
    }
    #p-questionnaire .c-questionnaire_form__inner {
        width: 60%;
    }
    #p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__txt {
        margin: 50px 0;
        font-size: 1.0rem;
    }
    #p-questionnaire .c-questionnaire_form__inner label {
        margin: 10px 0;
        font-size: 1.0rem;
    }
    #p-questionnaire .c-questionnaire_form__inner input,
    #p-questionnaire .c-questionnaire_form__inner textarea {
        font-size: 1.0rem;
    }
    /**
    * questionnaire confirm
    **/
    #p-questionnaire .c-questionnaire__conform {
        width: 50%;
    }
    #p-questionnaire .c-questionnaire__conform .questionnaire__confirm-txt,
    #p-questionnaire .c-questionnaire__conform table tr th,
    #p-questionnaire .c-questionnaire__conform table tr td,
    #p-questionnaire .c-questionnaire__conform .c-btn-area button.form-submit {
        font-size: 1.0rem;
    }
}

@media (max-width: 768px) {
    #p-questionnaire .c-questionnaire_form__inner .c-questionnaire_form__content {
        margin: 0 0 10px;
    }
    #p-questionnaire .c-questionnaire__conform {
        height: 80vh;
        overflow: scroll;
    }
    #p-questionnaire .c-questionnaire__conform table tr th {
        font-weight: bold;
    }
    #p-questionnaire .c-questionnaire__conform table tr th,
    #p-questionnaire .c-questionnaire__conform table tr td {
        width: 100%;
        display: block;
    }
}