/**
* form base
**/
input,textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 1.0rem;
}
input:focus, textarea:focus,
input:hover, textarea:hover,
input:visited, textarea:visited {
  border: 1px solid #999999;  
}
textarea, textarea:focus, textarea:active, textarea:visited, textarea:hover {
  height: 200px;
}
label {
  font-size: 1.0rem;
}