/**
* title
**/
.c-title {
  font-size: 2.4em;
  border-bottom: 1px solid black;
  margin: 0 0 25px;
  padding: 0 0 5px;
}
.c-title.white {
  color: white;
  border-bottom: 1px solid white;
}
@media (min-width: 991px) {
    /**
    * title
    **/
    .c-title {
        font-size: 3.6em;
        width: 100%;
        margin: 0 0 50px;
    }
}