:root {
  --white: #ffffff;
  --white2: #eeeeee;
  --black: #000000;
  --gray: #333333;
  --gray2: #555555;
  --gray3: #999999;
  --gray4: #dddddd;
  --gray5: #737373;
}

/**
* acivement content
**/
.c-acivement__list {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;
}
.c-acivement__list li {
  width: calc(50% - 1rem);
  margin: 0 .5rem 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.c-acivement__list li img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;
}
.c-acivement__list li:hover img {
  opacity: .7;
  transform: scale(1.2);
  -webkit-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;
}
.c-acivement__list li > span {
  display: block;
  cursor: auto;
}
.c-acivement__list li span.name {
  display: block;
  color: var(--white);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  text-align: center;
  padding: 29% 0px;
}
.c-acivement__list li:hover span.name {
  opacity: .7;
  background: var(--black);
  -webkit-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;

}
@media (max-width: 787px) {
  #p-acivement {
    padding: 25px 0%;
  }
}
@media (min-width: 991px) {
  /**
  * acivement content
  **/
  .c-acivement__list {
    margin: 0 -.5rem;
  }
  .c-acivement__list li {
    margin: 0 .5rem 1rem;
    width: calc( 99.9% / 3 - 1rem);
  }
}
