/**
* card
**/
.card ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;
}
.card ul li{
    width: calc(50% - .5rem);
    text-align: center;
    margin: 0;
    cursor: pointer;
}
.card ul li figure{
    overflow: hidden;
}
.card ul li img {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity ease .3s, transform ease 1s;
            transition: opacity ease .3s, transform ease 1s;
}
.card ul li:hover img,
.card ul li:focus img {
    opacity: .7;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: opacity ease .3s, transform ease 1s;
            transition: opacity ease .3s, transform ease 1s;
}
.card ul li span {
    margin: 10px 0 0;
    display: block;
    text-align: left;
}
.card ul li span.white {
    color: white;
}
.card ul li span.open {
    opacity: 1;
}
.card ul li a {
    text-decoration: none;
}
@media (min-width: 991px) {
    .card ul li{
        margin: 0;
        width: calc(100% / 3 - .7rem );
    }
    .card ul li:nth-child(n + 10) {
        display: none;
    }
}