:root {
  --white: #ffffff;
  --white2: #eeeeee;
  --black: #000000;
  --gray: #333333;
  --gray2: #555555;
  --gray3: #999999;
  --gray4: #dddddd;
  --gray5: #737373;
}

/**
* card
**/
.c-card-dect {
  text-align: center;
  margin: 20px 0;
  font-size: 0.8rem;  
}
.c-card-wrap .c-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;
}
.c-card-wrap .c-card-list .c-card-li {
  width: calc(50% - 1rem);
  text-align: center;
  margin: 0 .5rem 1rem;
  cursor: pointer;
}
.c-card-wrap .c-card-list .c-card-li .c-card-figure {
  overflow: hidden;
}
.c-card-wrap .c-card-list .c-card-li .c-card-img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity ease .3s, transform ease 1s;
          transition: opacity ease .3s, transform ease 1s;
}
.c-card-wrap .c-card-list .c-card-li:hover .c-card-img,
.c-card-wrap .c-card-list .c-card-li:focus .c-card-img {
  opacity: .7;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: opacity ease .3s, transform ease 1s;
          transition: opacity ease .3s, transform ease 1s;
}
.c-card-wrap .c-card-list .c-card-li .c-card-txt {
  margin: 10px 0 0;
  display: block;
  text-align: left;

}
.c-title.white ~ .c-card-wrap .c-card-list .c-card-li .c-card-txt {
  color: var(--white);
}
.c-card-wrap .c-card-list .c-card-li .c-card-txt.open {
  opacity: 1;
}
.c-card-wrap .c-card-list .c-card-li a {
  display: block;
  text-decoration: none;
}
@media (min-width: 991px) {
  .c-card-dect {
    margin: 50px 0;
    font-size: 1.0rem;    
  }
  .c-card-wrap .c-card-list {
    margin: 0 -.5rem;
  }
  .c-card-wrap .c-card-list .c-card-li {
    margin: 0 .5rem 1rem;
    width: calc(100% / 3 - 1rem );
  }
  .c-card-wrap .c-card-list .c-card-li .c-card-txt {
    font-size: 1.0rem;
  }
  .c-card-wrap .c-card-list .c-card-li:nth-child(n + 10) {
    display: none;
  }
}