/**
* contact
**/
.c-contact-form__inner {
    width: 100%;
    margin: 0 auto;
}
.c-contact-form__inner .c-contact-form__txt {
    color: white;
    text-align: center;
    margin: 20px 0;
    line-height: 1.6;
}
.c-contact-form__inner .c-contact-form__txt a {
    color: white;
    text-decoration: underline;
}
.c-contact-form__inner .c-contact-form__txt a:hover,
.c-contact-form__inner .c-contact-form__txt a:focus {
    text-decoration: none;
}
.c-contact-form__inner .c-contact-form__content {
    margin: 0 0 20px;
}
.c-contact-form__inner label {
    color: white;
    display: block;
    margin: 0 0 5px;
}
/**
* modal confirm
**/
.ReactModal__Content .c-contact-form__confirm {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.ReactModal__Content .c-contact-form__confirm .c-contact-form__confirm_txt {
    margin: 0 0 10px;
    text-align: center;
    font-size: 1.0rem;
}
.ReactModal__Content .c-contact-form__confirm table {
    width: 100%;
    border: 1px solid lightgray;
    border-right-width: 0;
    border-bottom-width: 0;
    margin: 40px 0 20px;
}
.ReactModal__Content .c-contact-form__confirm table tr {

}
.ReactModal__Content .c-contact-form__confirm table th,
.ReactModal__Content .c-contact-form__confirm table td {
    padding: 10px;
}
.ReactModal__Content .c-contact-form__confirm table th {
    border: 1px solid lightgray;
    border-left-width: 0;
    border-top-width: 0;
    width: 30%;
}
.ReactModal__Content .c-contact-form__confirm table td {
    border: 1px solid lightgray;
    border-left-width: 0;
    border-top-width: 0;
    width: 70%;
}
.ReactModal__Content .c-contact-form__confirm button {
    position: relative;
    width: 300px;
    height: auto;
    border: 1px solid black;
}

.c-contact__complete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background-color: transparent;
    padding: 0;
}
.c-contact__complete:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
    position: fixed;
}
.c-contact__complete p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 5%;
    border: 1px solid black;
    z-index: 100;
    text-align: center;
}

@media (min-width: 991px) {
    /**
    * contact
    **/
    .c-contact-form__inner {
        width: 60%;
    }
    .c-contact-form__inner .c-contact-form__txt {
        margin: 50px 0;
    }
    .c-contact-form__inner label {
        margin: 0 0 10px;
    }
    /**
    * modal confirm
    **/
    .ReactModal__Content .c-contact-form__confirm {
        width: 50%;
    }
}