:root {
  --white: #ffffff;
}

/**
* sns link
**/
.c-link__list {
  display: flex;
  flex-wrap: wrap;
}
.c-link__list .c-link__list_li {
  width: calc(100% / 2);
  margin: 0 0 20px;
}
.c-link__list .c-link__list_li .c-link__list_link {
  display: block;
  opacity: 1;
}
.c-link__list .c-link__list_li .c-link__list_link:hover,
.c-link__list .c-link__list_li .c-link__list_link:focus {
  opacity: .7;
}
.c-link__list .c-link__list_li .c-link__list_img {
  vertical-align: middle;
  width: 25%;
  background-color: var(--white);
  border-radius: 50%;
  padding: 5px;
}
.c-link__list .c-link__list_li .c-link__list_txt {
  vertical-align: middle;
  margin: 0 0 0 5%;    
  width: 70%;
  display: inline-block;
  font-size: 1.0rem;
  color: var(--white);
}
@media (min-width: 768px) {
  .c-link__list .c-link__list_li {
    width: calc(99.9% / 3);
    margin: 20px 0;
  }
  .c-link__list .c-link__list_li .c-link__list_img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .c-link__list .c-link__list_li .c-link__list_txt {
    width: calc(100% - 5% - 50px);
    font-size: 1.4rem;
  }
}