/**
* sns link
**/
.link__list {
  display: flex;
  flex-wrap: wrap;
}
.link__list li {
  width: calc(100% / 2);
  margin: 0 0 20px;
}
.link__list li a {
  display: block;
  opacity: 1;
}
.link__list li a:hover,
.link__list li a:focus {
  opacity: .7;
}
.link__list li img {
  vertical-align: middle;
  width: 25%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.link__list li span {
  vertical-align: middle;
  margin: 0 0 0 5%;    
  width: 70%;
  display: inline-block;
  font-size: 1.0rem;
  color: white;
}
@media (min-width: 768px) {
  .link__list li {
    width: calc(99.9% / 3);
    margin: 20px 0;
  }
  .link__list li img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .link__list li span {
    width: calc(100% - 5% - 50px);
    font-size: 1.8rem;
  }
}