/**
* about content
**/
#p-about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
/**
* about content background
**/
.p-about__profile__bg {
    overflow: hidden;
}
.p-about__profile__bg:after {
    content: '';
    position: absolute;
    background-color: #EEEEEE;
    top: -30%;
    left: -50%;
    width: 110%;
    height: 135%;
    opacity: .7;
    z-index: -1;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
}
/**
* about content right
**/
.p-about__profile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 20px;
}
.p-about__profile .p-about__profile--ttl {
    width: 20%;
    height: auto;
    font-size: 1.4em;
}
.p-about__profile .p-about__profile--list {
    width: 80%;
    font-size: 1.4em;
}
.p-about__profile .p-about__profile--list li {
    margin: 0 0 10px;
}
.p-about__profile .p-about__profile--list span {
    font-size: 1.0em;
    margin: 0 15px 0 0;
}
.p-about__profile--description {
    margin: 20px 0 0;
}
/**
* about content left
**/
.p-about__profile:nth-of-type( 2 ) {
    text-align: center;
    margin: 0;
}
.p-about__profile:nth-of-type( 2 ) figure {
    margin: 0 auto;
}
.p-about__profile:nth-of-type( 2 ) figure img {
    width: 200px;
    border-radius: 50%;
}
.p-about__profile:nth-of-type( 2 ) .about__profile__lesson {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.6;
    margin: 20px 0 0;
}
.p-about__profile:nth-of-type( 2 ) .about__profile__lessondetail {
    width: 80%;
    text-align: left;
    margin: 20px auto 0;
}
.p-about__profile:nth-of-type( 2 ) .about__profile__lessondetail p {
    font-size: 1.4em;
}
@media (min-width: 991px) {
    /**
    * about content right
    **/
    .p-about__profile {
        width: 50%;
        margin: 0;
    }
    .p-about__profile--description {
        margin: 20px 0 0;
        width: 80%;
    }
    /**
    * about content left
    **/
    .p-about__profile:nth-of-type( 2 ) .about__profile__lesson {
        margin: 50px 0 0;
    }
    .p-about__profile:nth-of-type( 2 ) .about__profile__lessondetail {
        margin: 50px auto 0;
    }
}