/**
* skill content
**/
.skill__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}
.skill__list li {
    width: 46%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 2% 25px;
}
.skill__list li img {
    width: 80%;
    margin: 0 auto 10px;
}
.skill__list li .gage {
    width: 100%;
    margin: 0;
    height: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
}
.skill__list li .gage:after {
    content: '';
    height: 13px;
    width: 80%;
    background-color: white;
    display: block;
    border-radius: 10px;
}
@media (min-width: 991px) {
    /**
    * skill content
    **/
    .skill__list {
        margin: 0 ;
    }
    .skill__list li {
        margin: 0 0 50px;
        width: calc( 100% / 3 );
    }
    .skill__list li img {
        width: 30%;
    }
    .skill__list li .gage {
        width: 50%;
        margin: 0 15% 0 5%;
        height: 20px;
    }
    .skill__list li .gage:after {
        height: 18px;
    }
}